/*-----MEDIA QUERY------*/
@media screen and (max-width:1020px) {
    .grid-container{
        grid-template-columns: repeat(2,1fr);        
        grid-template-areas: 
        "header header"        
        "main main"
        "footer footer"
        ;    
    }    

    .index-hero img{
        scale: 70%;
    }

    .index-videos{
        flex-direction: column;
    }

    .productos div{        
        flex-direction: column;
    }

    .servicios-carrusel{    
        margin-left: 200px;
        margin-right: 200px;    
    }

}

@media screen and (max-width:680px) {       
    .section-h1{
        height: 80px;
    }
    
    .encabezado{
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .index-servicios-productos div{    
        margin-left: 30px;
        margin-right: 30px;    
    }

    .index-bienvenidos div{
        margin-left: 30px;
        margin-right: 30px;    
    }

    .index-hero img{
        width: 500px;
    }

    .empresa-parrafos{
        margin: 10px;
    }

    .empresa-parrafos-div{
        flex-direction: column;
        align-items: center;        
    }

    .empresa-parrafos-div h2{
        text-align: center;
        font-size: 24px;
        margin: 5px;
        width: 150px;        
    }

    .empresa-parrafos-div div{
        margin: 5px;
    }
    
    .productos-hero{
        margin: 10px;
    }
    
    .servicios-carrusel{    
        margin-left: 100px;
        margin-right: 100px;    
    }

    .servicios-parrafos h2{    
        margin-left: 30px;     
    }

    .servicios-parrafos div{    
        margin-left: 30px;
        margin-right: 30px;    
    }
}

@media screen and (max-width:500px) {
    
    .section-h1{
        height: 100px;
    }
    
    .index-videos{
        scale: 80%;
    }
    
    .contacto-ubicacion{
        scale: 70%;
    }

    .servicios-carrusel{    
        margin-left: 50px;
        margin-right: 50px;    
    }
}

@media screen and (max-width: 350px){
    .grid-container{
        grid-template-columns: repeat 1fr;                        
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

    .servicios-carrusel{    
        margin-left: 10px;
        margin-right: 10px;    
    }
    
}